@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2em;
  font-weight: bolder;
}

.toggle
{
  position:sticky;
  width: 60px;
  height: 60px;
  background: url(images/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right;
  cursor: pointer;
}
.toggle.active
{
  background: url(images/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1C1C1D;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text
{
  position: relative;
  z-index: 10;
}

.text h1
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 0.7em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  z-index: 2;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 330px;
  height: 100%;
  display:flex;
  padding: 100px;
  justify-content: left;
  align-items: center;
  background-color: #1C1C1D ;
  
}
.menu ul
{
  position:relative;
  
}
.menu ul li
{
  list-style: none;
  margin: 10px 0;

}
.menu ul li a
{
  
  text-decoration: none;
  font-size: 32px;
  transition: 0.1s;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);


}
.menu ul li a:hover
{
  background: linear-gradient(90deg,#00DBDE,#fc00fcFF);
  font-weight: 600;
  padding-left: 20px;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  

}

.circlelogo {
  position: relative;
  max-width: 200px;
  background:#f9f9f9;
  border-radius: 50px;
  display: center;
  margin-bottom: 20px;
  margin-top: 100px;

 
}

.downloadlogo {
  position:relative;
  min-width: 200px;
  display: center;
  margin-top: 20px;
  margin-bottom: 80px;

 
}

/* CONTACT */

.title h1  {
  margin-top: 100px;
  color: #fff;
  font-size: 2em;
}
.title p {
  color: #fff;
}
.contact {
  position: relative;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-form {
  position: center;
  background: #f9f9f9;
  width: calc(100% - 400px);
  padding: 60px 40px 20px;
  border-radius: 20px;
}

.contact-form form {
  width: 100%;

}

.contact-form .row {
  width: 100%;
  display: flex;

}

.contact-form .input50 {
  width: 50%;
  margin: 0 10px;

}

.contact-form .input100 {
  width: 100%;
  margin: 0 10px;

}

.contact-form .row input,
.contact-form .row textarea {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50;
  color: #111;
  background: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
  resize: none;
  
}

.contact-form .row textarea {
  height: 150px;
}

.contact-form .row input[type='submit'] {
  background-color: var(--secondary-color);
  color: #111;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
  border-radius: 30;
}


.contact-info {
  width: 350px;
  background: #f9f9f9;
  padding: 60px 40px 20px;
  border-radius: 20px;

}

.contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
  width: 20px;
  margin-right: 40px;
}

.contact-info .info-box .details h4 {
  color: var(--secondary-color);
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
  color: #111;
  text-decoration: none;
}

.privacycontent p {
  position: relative;
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
  max-width: 700px;
}

.privacycontent li {
  list-style: none;
  margin-top:10px;
  margin-left: 20px;
}

.privacycontent ul {
  color: #fff;
  font-size: 20px;

}

.privacycontent a, strong, h1 {
  background: linear-gradient(90deg,#00DBDE,#fc00fcFF);
  text-decoration: none;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.privacylogo {
  font-size: 2em;
  background: linear-gradient(90deg,#00DBDE,#fc00fcFF);
  text-decoration: none;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.privacycontent h2 {
  margin-top: 30px;
}







@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }

  .logo {
    top: 10px;
    left: 40px;
    font-size: 5rem;
    color: #ffffff;
  }

  .text h1 {
    font-size: 4em;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    flex-direction: column;
    margin-top: 100px;
  }

  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }


  .downloadlogo {
    font-size: 5em,
  }

  .circlelogo {
    margin-top: 200px;
    font-size: 5em,
  }

  .text p {

    font-size: 2em;

  }
}


@media (max-width: 768px) {
  
  .services {
    grid-template-columns: 1fr;
  }

  .services .service {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  .downloadlogo {
    font-size: 5em,
  }

  .circlelogo {
    margin-top: 200px;
    font-size: 5em,
  }

  .text p {

    font-size: 2em;

  }
}
